div.snapshot {
  .snapshot-buttons {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0.5em 1em 0.5em 1em;

    button {
      margin: 0 0.5em 0.5em 0;
    }
  }

  .snapshot-info {
    padding: 0 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .info-text {
      display: inline;
    }
    .info-number {
      font-size: $font-up-6;
    }
    p {
      margin: 0;
      width: 100%;
    }
    .info-label {
      margin-left: 0.25em;
    }
  }

  .snapshot-show-breakdown {
    display: none;
  }
}

div.snapshot.pie {
  .snapshot-container {
    width: calc(100% - 30px);
    border-bottom: 1px solid var(--primary-low);
  }
}
